#---------------MAIN-PLUGIN-SETTINGS--------------
chat-prefix: "[MineTinker]"
CheckForUpdates: true                 #Checks for updates on startup
Language: en_US                       #Changes the Plugins Language
LowSpecMode: false                    #Enabling this will have the Plugin break all the blocks other then the player, will break synergies

#--LOGGING--
logging:
  standard: false                     #logs important player activities with MineTinker
  debug: false                        #even more information
  metrics: true                       #bStats-Metrics for anonymous statistics about the use of MineTinker
  modifiers: false                    #Should Modifier-Interactions be logged in the Console

#--MESSAGES--
chat-messages: true                   #Will turn off command output
actionbar-messages: true              #Will enable/disable actionbar messages
actionbar-on-exp-gain: false
BroadcastConfigChanges: true          #Broadcast config changes via /mt ec to players with same privilages
LanguageManagerNotifyOP: true         #Should the LanguageManager notify the server operators if the language settings might be wrong or incomplete

#--COMMANDS--
NameCommandBlacklist:                 #Which words are not allowed in the name of Tools and Armor (Regex-Expressions allowed)
  - BlacklistExample

#---------------EXP-SETTINGS--------------
LevelStep: 100                        #*(LevelFactor^LevelOfTool) [EXPONENTIAL]; *(LevelFactor*LevelOfTool) [LINEAR]
LevelFactor: 2.0
ProgressionIsLinear: false            #false: exponential, true: linear
ResetAtVarOverflow: true              #Resets Level and Exp at Integer.MAX_VALUE or Long.MAX_VALUE with 1 and 0. false: no more Exp gain
ExpPerBlockBreak: 1                   #How much XP will the tool get when you break a block
ExpPerEntityHit: 1                    #How much XP will the tool get when you hit a Entity with Sword / Bow
ExpPerArrowShot: 1                    #How much XP will the tool get when you shoot with the bow
DisableExpFromFalldamage: false       #Should Armor get Exp from fall damage
DisableNonPvPDamageExpArmor: false    #Should Armor get Exp from non combat damage sources (Block breaking excluded)
DisableNonPvPDamageExpWeapons: false  #Should Weapons get Exp from non combat damage sources (Block breaking excluded)
ExtraExpPerBlock:                     #Extra Exp for block break
  ApplicableToSilkTouch: false        #Fixes Exp exploit with silk touch
  DIAMOND_ORE: 2
  EMERALD_ORE: 5
  GOLD_ORE: 1
ExtraExpPerEntityHit:                 #Extra Exp for entity hit
  ENDER_DRAGON: 2
ExtraExpPerEntityDeath:               #Extra Exp for entity death
  ENDER_DRAGON: 500
  WITHER: 250
EnableDamageExp: true                 #When true: Sword/Bow will gain XP equal to the damage dealt
BlockExpCooldownInSeconds: 60         #How much cooldown should the placed block have until it gives Exp again

#---------------TOOL-SETTINGS--------------
AddModifierSlotsPerLevel: 1           #Amount of new free Modifier-Slots for each Level-Up (must be positive or zero)
StartingModifierSlots: 1
Upgradeable: true                     #Can you upgrade your tools with an anvil
Repairable: true                      #Can you repair your tools in your inventory (instead of an anvil) just by dragging the ressource on the tool
Combinable: false                      #Can you combine tools with an anvil to upgrade modifier levels
ModifiableInInventory: false          #Can you modify tools in the inventory
UnbreakableTools: true                #Makes sure that tools can not break while using them (will make the tools not useable untill repaired)
Grindstone:
  Enabled: true                       #Due to problems with grindstone and it's breaking mechanics you can disable it.
  ChanceToGetSlotsBack: 100           #Percentage; Should the tool get free slots back for every removed Modifier?
  ChanceToGetModifierItemBack: 100    #Percentage; Should the player get the possible used modification items back?
UseSmithingTable: false               #Should players be able to modify and upgrading in the smithing table instead of the anvil
AllowEnchanting: false                #When enabled you can enchant the tools with vanilla methods (not recommended!)
EnchantingCostsSlots: true            #When enchanted through the enchanting table or anvil (the vanilla way) should the tool need free slots
AllowCrafting: true                   #Only recommended if used in combination with other Plugins that use the crafting grid for tools. If false: Tools are only aquired with give command
AllowConverting: true                 #Allows you to convert tools by placing them in the crafting window
BlockToEnchantModifiers: BOOKSHELF    #Block that needs to be right-clicked
HideEnchants: true                    #Should the vanilla enchantments be hidden on the tool
HideAttributes: true                  #Should the attributes be hidden on the tool when applied
ConvertBookToModifier: true           #Should right clicking a bookshelf with an enchanted book convert enchantments to modifier items
EnableLore: true                      #Should the Item have lore to display all Stats on the Tool (like Modifiers, Exp, Level, etc.)
ConvertEnchantmentsOnEnchant: true    #Should (new) enchantments be converted to modifiers when tools are enchanted
RefundLostEnchantmentsAsItems: true   #If you want to enchant Sharpness 5 on a tool but MT only allows Sharpness 4 it will drop one Sharpness-Modifier (ConvertEnchantmentsOnEnchant needs to be true)
ConvertEnchantsAndAttributes: true    #Should enchants and Attributes be also converted if tool is converted
ToolIdentifier: IdentifierTool        #Changing this will break all current tools; Used to identify Tools
ArmorIdentifier: IdentifierArmor      #Changing this will break all current armors; Used to identify Armor
ChanceToFailModifierApply: 0          #Chance the Modifier does not get applied and instead removes the modifier item
ChanceToFailToolUpgrade: 0            #Chance the tool does not get upgraded and instead removes the upgrading items

#---------------ITEMBEHAVIOUR--------------
ItemBehaviour:
  ConvertItemsOnUse: true             #Converts items on use, only works if item supported by a plugin.
  TrackStatistics: true               #Should MT track statistics for a item
  ShowName: true                      #Shows the name of the ItemStack (if has one) when on the ground
  SetGlowing: true                    #Item glowes on the ground
  SetInvulnerable: true               #Item can not be damaged or destroyed
  SetPersistent: false                #Item will not despawn
  ForModItems: true                   #Settings apply also for Modifier-Items
  DisableDroppingBehaviour: false     #Disables the Itembehaviours for droping them and drop on death - every option above - for plugin compatibility
  StopBreakEvent: true                #If the item breaks due to a bug, give the item back to the player with 1 durability
  AlertPlayerOnBreak: false           #If the item breaks due to a bug, alert the player
  ApplyOnPlayerDeath: true            #Applies ItemBehaviour on PlayerDeath, set false if another plugin controls keepInventory on deaths
ModifiersCanBeUsedForCrafting: false  #Enablea crafting with Modifier-Items

#---------------MOB-DROPS-------------------
ConvertLoot:
  MobDrops: true                      #Should Mobdrops be converted to MineTinker
  ChestLoot: true                     #Should Chestloot be converted to MineTinker
  Chance: 100                         #Not the real / actual chance as Modifier-Application can fail
  ApplyModifiers: true
  MaximumNumberOfModifiers: 4         #Not the real / actual amount as Modifier-Application can fail
  AppliedModifiersConsiderSlots: true
  ApplyExp: true
  MaximumNumberOfExp: 650
MobDropModifierItems:
  Enabled: true                       #Should Modifieritems be dropped from Mobs
  Chance: 100
  MaximumAmount: 2                    #Amount of possible different modifiers (Item will have amount of 1)
  ExcludeModifiers:
    - Extra-Modifier
  ConsiderIncludedMobs: true
  IncludedMobs:
    - ENDER_DRAGON
    - WITHER

#---------------LEVELUP-EVENTS--------------
LevelUpEvents:                        #Events that happen when a MT-Item gets a Level-Up (chancebased)
  enabled: true                       #disable all events
  DurabilityRepair:                   #Repairs the tool
    enabled: true
    percentage: 50
  RandomModifier:                     #Applies a random modifier
    enabled: true
    percentage: 10
    MaximumAmountOfModifiers: 1       #How many (different) Modifiers should be applied in this event
    DisableAddingNewSlots: false      #Should the Event replace the normal free Slots on Level up
    AllowExtraModifier: true          #Should the Extra Modifier be part of the random roll
    DropAsItem: false
  DropLoot:                           #Drops specific loot
    enabled: true
    percentage: 25
    minimumDrop: 1
    maximumDrop: 5
    Items:
      - DIAMOND
      - IRON_INGOT
      - GOLD_INGOT
      - EMERALD
  DropXP:                             #Drops a certain amount of XP
    enabled: true
    percentage: 25
    amount: 100

#---------------SOUND-SETTINGS--------------
Sound:
  OnLevelUp: true
  OnCrafting: true
  OnEveryCrafting: false
  OnModding: true
  OnFail: true
  OnEnchanting: true
  OnUpgrade: true
  OnBreaking: true

BannedWorlds:                         #Worlds where MineTinker-Tools can't be used
  - bannedExample1
  - bannedExample2

#---------------EASYHARVEST-Settings--------------
EasyHarvest:
  enabled: true
  replant: true                       #Should the crop be replanted (if item is in inventory)
  Sound: true                         #Should there be sound when harvesting
  BannedWorlds:                       #Worlds where EasyHarvest can't be used
    - bannedExample1
    - bannedExample2
