#---------------MAIN-PLUGIN-SETTINGS--------------
chat-prefix: [MineTinker]
CheckForUpdates: true                 #Checks for updates on startup
Language: de_DE                       #Changes the Plugins Language

#--LOGGING--
logging:
  standard: false                     #logs important player activities with MineTinker
  debug: false                        #even more information
  metrics: true                       #bStats-Metrics for anonymous statistics about the use of MineTinker

#--MESSAGES--
chat-messages: true                   #Will turn off command output
actionbar-messages: true
actionbar-on-exp-gain: false

#---------------EXP-SETTINGS--------------
LevelStep: 100                        #*(LevelFactor^LevelOfTool) [EXPONENTIAL]; *(LevelFactor*LevelOfTool) [LINEAR]
LevelFactor: 2.0
ProgressionIsLinear: false            #false: exponential, true: linear
ResetAtVarOverflow: true              #Resets Level and Exp at Integer.MAX_VALUE or Long.MAX_VALUE with 1 and 0. false: no more Exp gain
ExpPerBlockBreak: 1                   #How much XP will the tool get when you break a block
ExpPerEntityHit: 1                    #How much XP will the tool get when you hit a Entity with Sword / Bow
ExpPerArrowShot: 1                    #How much XP will the tool get when you shoot with the bow
ExtraExpPerBlock:                     #Extra Exp for block break
  DIAMOND_ORE: 2
  EMERALD_ORE: 5
  GOLD_ORE: 1
ExtraExpPerEntityHit:                 #Extra Exp for entity hit
  ENDER_DRAGON: 2
ExtraExpPerEntityDeath:               #Extra Exp for entity death
  ENDER_DRAGON: 20
  WITHER: 10
EnableDamageExp: true                 #When true: Sword/Bow will gain XP equal to the damage-value

#---------------TOOL-SETTINGS--------------
AddModifierSlotsPerLevel: 1           #Amount of new free Modifier-Slots for each Level-Up (must be positive or zero)
StartingModifierSlots: 1
Upgradeable: true                     #Can you upgrade your tools with an anvil
Repairable: true                      #Can you repair your tools in your inventory (instead of an anvil) just by dragging the ressource on the tool
UnbreakableTools: true                #Makes sure that tools can not break while using them (will make the tools not useable untill repaired)
AllowEnchanting: false                #When enabled you can enchant the tools with vanilla methods (not recommended!)
AllowCrafting: true                   #Only recommended if used in combination with other Plugins that use the crafting grid for tools. If false: Tools are only aquired with give command
BlockToEnchantModifiers: BOOKSHELF    #Block that needs to be right-clicked
HideEnchants: true                    #Should the vanilla enchantments be hidden on the tool
HideAttributes: true                  #Should the attributes be hidden on the tool when applied
DurabilityPercentageRepair: 0.34      #How much durability (relative to maximum durability) should the tool recover per item
ConvertBookToModifier: false          #Should right clicking a bookshelf with an enchanted book convert enchantments to modifier items
EnableLore: true                      #Should the Item have lore to display all Stats on the Tool (like Modifiers, Exp, Level, etc.)

#---------------ITEMBEHAVIOUR--------------
ItemBehaviour:
  ShowName: true                      #Shows the name of the ItemStack (if has one) when on the ground
  SetGlowing: true                    #Item glowes on the ground
  SetInvulnerable: true               #Item can not be damaged or destroyed
  SetPersistent: true                 #Item will not despawn
  ForModItems: true                   #Settings apply also for Modifier-Items
  DisableDroppingBehaviour: false     #Disables the Itembehaviours for droping them and drop on death - every option above - for plugin compatibility
  StopBreakEvent: true                #If the item breaks due to a bug, give the item back to the player with 1 durability
  AlertPlayerOnBreak: false           #If the item breaks due to a bug, alert the player

#---------------LEVELUP-EVENTS--------------
LevelUpEvents:                        #Events that happen when a MT-Item gets a Level-Up (chancebased)
  enabled: true                       #disable all events
  DurabilityRepair:                   #Repairs the tool
    enabled: true
    percentage: 50
  RandomModifier:                     #Applies a random modifier
    enabled: true
    percentage: 10
    AmountOfModifiers: 1              #How many (different) Modifiers should be applied in this event
    DisableAddingNewSlots: false      #Should the Event replace the normal free Slots on Level up
    AllowExtraModifier: true          #Should the Extra Modifier be part of the random roll
  DropLoot:                           #Drops specific loot
    enabled: true
    percentage: 25
    minimumDrop: 1
    maximumDrop: 5
    Items:
      - DIAMOND
      - IRON_INGOT
      - GOLD_INGOT
      - EMERALD
  DropXP:                             #Drops a certain amount of XP
    enabled: true
    percentage: 25
    amount: 100

#---------------SOUND-SETTINGS--------------
Sound:
  OnLevelUp: true
  OnCrafting: true
  OnEveryCrafting: false
  OnModding: true
  OnFail: true
  OnEnchanting: true
  OnUpgrade: true
  OnBreaking: true

BannedWorlds:                         #Worlds where MineTinker-Tools can't be used
  - bannedExample1
  - bannedExample2

#---------------EASYHARVEST-Settings--------------
EasyHarvest:
  enabled: true
  replant: true                       #Should the crop be replanted (if item is in inventory)
  Sound: true                         #Should there be sound when harvesting
  BannedWorlds:                       #Worlds where EasyHarvest can't be used
    - bannedExample1
    - bannedExample2
